# Dependencies
node_modules/
dist/
*.log

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# IDE 
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db